[DEVICE]
Name=STM32F107VC
Clock=72000000
[BUILD_TYPE]
Value=0
[FILES]
Count=1
File0=Click_POT2_STM.c
[HEADERS]
Count=3
File0=Click_POT2_config.h
File1=Click_POT2_types.h
File2=Click_POT2_adc.h
[PLDS]
Count=1
File0=Click_POT2.pld
[Useses]
File0=UART
File1=Conversions
File2=C_String
File3=POT2_STM32_M3
File4=easymx_v7_STM32F107VC
File5=//SPI
File6=//I2C
File7=ADC
Count=8